## Operation for datafile(3).csv

In [2]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [3]:
df = pd.read_csv("datafile (3).csv")

In [5]:
df

,Crop,Variety,Season/ duration in days,Recommended Zone
0,Paddy,Chinsurah Rice (IET 19140),Medium,"Andhra Pradesh, Tamil Nadu, Gujarat, Orissa, a..."
1,Paddy,(CNI 383-5-11),NaN,NaN
2,Paddy,IGKVR-1 (IET 19569),Mid-early,"Chhattisgarh, Madhya Pradesh and Orissa under ..."
3,Paddy,IGKVR-2 (IET 19795),Medium,"Chhattisgarh, Bihar and Orissa under both irr..."
4,Paddy,CR Dhan 401 (REETA),145-150,"Orissa, West Bengal, Tamil Nadu and Andhra Pra..."
...,...,...,...,...
73,Mesta,SHRESTHA (JRM-5),-,"Andhra Pradesh, Orissa, Assam, Maharashtra, Bi..."
74,Cotton,CNH012,165,"Gujarat, Maharashtra and Madhya Pradesh."
75,Cotton,CICR-3 (CISA 614),150,"Punjab, Haryana and Uttar Pradesh under wilt f..."
76,Cotton,VBCH 2231,NaN,"Maharashtra, Gujarat, Madhya Pradesh and Oriss..."
77,Desi Cotton,FDK 124,NaN,"Punjab, Haryana and Rajasthan under irrigated ..."

In [6]:
df.shape

(78, 4)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Crop                      78 non-null     object
 1   Variety                   78 non-null     object
 2   Season/ duration in days  50 non-null     object
 3   Recommended Zone          77 non-null     object
dtypes: object(4)
memory usage: 2.6+ KB

In [8]:
df.isnull()

     Crop  Variety  Season/ duration in days  Recommended Zone
0   False    False                     False             False
1   False    False                      True              True
2   False    False                     False             False
3   False    False                     False             False
4   False    False                     False             False
..    ...      ...                       ...               ...
73  False    False                     False             False
74  False    False                     False             False
75  False    False                     False             False
76  False    False                      True             False
77  False    False                      True             False

[78 rows x 4 columns]

In [9]:
df.isnull().sum()

Crop                         0
Variety                      0
Season/ duration in days    28
Recommended Zone             1
dtype: int64

In [16]:
df.dropna(inplace = True)

In [17]:
df.isnull()

     Crop  Variety  Season/ duration in days  Recommended Zone
0   False    False                     False             False
2   False    False                     False             False
3   False    False                     False             False
4   False    False                     False             False
5   False    False                     False             False
6   False    False                     False             False
7   False    False                     False             False
8   False    False                     False             False
9   False    False                     False             False
10  False    False                     False             False
11  False    False                     False             False
12  False    False                     False             False
17  False    False                     False             False
19  False    False                     False             False
20  False    False                     False             False
21  False    False                     False             False
22  False    False                     False             False
26  False    False                     False             False
27  False    False                     False             False
28  False    False                     False             False
29  False    False                     False             False
30  False    False                     False             False
33  False    False                     False             False
34  False    False                     False             False
37  False    False                     False             False
38  False    False                     False             False
39  False    False                     False             False
40  False    False                     False             False
42  False    False                     False             False
43  False    False                     False             False
44  False    False                     False             False
46  False    False                     False             False
47  False    False                     False             False
49  False    False                     False             False
50  False    False                     False             False
51  False    False                     False             False
52  False    False                     False             False
54  False    False                     False             False
58  False    False                     False             False
59  False    False                     False             False
60  False    False                     False             False
63  False    False                     False             False
65  False    False                     False             False
66  False    False                     False             False
69  False    False                     False             False
71  False    False                     False             False
72  False    False                     False             False
73  False    False                     False             False
74  False    False                     False             False
75  False    False                     False             False

In [18]:
df.isnull().sum()

Crop                        0
Variety                     0
Season/ duration in days    0
Recommended Zone            0
dtype: int64

In [10]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
73    False
74    False
75    False
76    False
77    False
Length: 78, dtype: bool

In [11]:
df.duplicated().sum()

0

In [12]:
#identifying garbage values
for i in df.select_dtypes(include="object").columns:
    print(df[i].value_counts())
    print("***"*10)

Crop
Wheat                  9
Paddy                  8
Pearl Millet           7
Maize                  6
Indian Mustard         4
Groundnut              3
Cotton                 3
Oat                    3
Sugarcane              3
Fieldpea               3
Linseed                3
Barley                 3
Bengal Gram            2
Lentil                 2
Mesta                  2
Urdbean                2
Cluster Bean           2
Jute                   2
Sesame                 1
Finger Millet          1
Cowpea (Fodder)        1
Tall Fescue Grass      1
Horse Gram             1
Napier Bajra Hybrid    1
Yellow Sarson          1
Chickpea               1
Mungbean               1
French Bean            1
Desi Cotton            1
Name: count, dtype: int64
******************************
Variety
Chinsurah Rice (IET 19140)        1
Pant Lentil-8(Pant L-063)         1
Mash 479 (KUG 479)                1
PKV AKM-4 (AKM-9904)              1
Gujarat Rajmash-1 (DPR 88-1-2)    1
                                 ..
PMH 5 (JH 3110)                   1
PMH 4 (JH 31153)                  1
DHM 119 (BH 4062)                 1
MCH 36 (Hybrid) (DKC 9099)        1
FDK 124                           1
Name: count, Length: 78, dtype: int64
******************************
Season/ duration in days
110                              3
-                                3
108                              3
Medium                           2
120                              2
80-85                            2
130                              2
145-150                          2
90                               1
360                              1
100                              1
140                              1
110-115                          1
137                              1
147                              1
135                              1
165                              1
103-111                          1
105-110                          1
122                              1
134                              1
114                              1
78-80                            1
144                              1
119                              1
Mid-early                        1
81                               1
80                               1
99                               1
95                               1
80-82                            1
190                              1
167 irrigated   & 180 rainfed    1
123                              1
169                              1
132-135                          1
152                              1
160                              1
150                              1
Name: count, dtype: int64
******************************
Recommended Zone
Punjab, Haryana, Rajasthan, Uttarakhand, Central and Western Uttar Pradesh.                                          2
Andhra Pradesh, Tamil Nadu, Gujarat, Orissa, and West Bengal under irrigated conditions.                             1
Punjab, Haryana, Plains of Uttarakhand, Western Uttar Pradesh, Delhi and Rajasthan as a pure crop in Rabi season.    1
Karnataka, Tamil Nadu and Orissa in Kharif season.                                                                   1
Gujarat, Southern Part of Rajasthan, Maharashtra and Madhya Pradesh.                                                 1
                                                                                                                    ..
Rajasthan, Madhya Pradesh, Gujarat and Chhattisgarh in Kharif season under both irrigated and rainfed condition.     1
Punjab, Haryana, Delhi and western Uttar Pradesh under irrigated condition.                                          1
Andhra Pradesh, Maharashtra, Tamil Nadu and Karnataka in Kharif season.                                              1
Karnataka, Tamil Nadu and Maharashtra in Kharif season under irrigated and rainfed conditions.                       1
Punjab, Haryana and Rajasthan under irrigated condition.                                                             1
Name: count, Length: 76, dtype: int64
******************************

In [13]:
df.columns

Index(['Crop', 'Variety', 'Season/ duration in days', 'Recommended Zone'], dtype='object')

In [19]:
df.describe()

,Crop,Variety,Season/ duration in days,Recommended Zone
count,50,50,50,50
unique,23,50,39,50
top,Paddy,Chinsurah Rice (IET 19140),110,"Andhra Pradesh, Tamil Nadu, Gujarat, Orissa, a..."
freq,7,1,3,1